.tasksAside {
  flex-grow: 1;
  background-color: #fff;
  margin-right: 1rem;
  border-radius: 10px;
  height: 100%;
}

.taskListHeader,
.taskList {
  padding: 1rem 1rem 0 1rem;
}

.taskListHeader h3 {
  font-size: 14px;
}

.taskList {
}

.taskList ul {
  list-style-type: none;
  padding: 0;
}

@media (max-width: 1200px) {
  .tasksAside {
    position: fixed;
    left: 100%;
    transition: 0.5s;
    background-color: #f4f5f7;
    width: 30%;
  }

  .activeTaskTab {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .tasksAside {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .tasksAside {
    width: 100%;
  }
}
