header.BCHeaderWrapper {
  height: 7.5%;
  display: flex;
  align-items: center;
}

ul.headerContentList {
  margin: 0;
  list-style-type: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
}

ul.headerContentList li {
  margin: 0;
  margin: 0 20px;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.activeListItem {
  color: #0165ff;
  border-bottom: 3px solid #0165ff;
}

.compassWrapper {
  border: 1.5px solid #0165ff;
  border-radius: 50%;
  padding: 7.5px;
  position: relative;
  margin-right: 1rem;
}

.compassWrapper img {
  width: 10px;
  height: 10px;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
