section.BCWrapper {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
}

main.BCMain {
  display: flex;
  height: 92.5%;
}

@media (max-width: 1200px) {
  section.BCWrapper {
    width: 100%;
  }
}
