aside.inboxWrapper {
  flex-shrink: 0;
  flex-basis: 30%;
  overflow: auto;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  height: calc(80vh - 2 * 0.5rem);
  background-color: inherit;
  max-width: 50rem;
  background-color: #f4f5f7;
}
